<div class="m-b-20">
    <!-- main discuss -->
    <div class="border-b-gray m-b-5">
        <app-blog-discuss-line></app-blog-discuss-line>
    </div>

    <!-- other discuss list -->
    <div class="p-l-50">
        <app-blog-discuss-line></app-blog-discuss-line>
        <app-blog-discuss-line></app-blog-discuss-line>
        <app-blog-discuss-line></app-blog-discuss-line>
        <app-blog-discuss-line></app-blog-discuss-line>
        <app-blog-discuss-line></app-blog-discuss-line>
    </div>
</div>
