.i-label {
  font-size   : 24px;
  font-family : BlogOldStamper, BlogZHBenMoJinHei, serif;
}

.i-category-list {
  padding     : 5px 0;
  font-family : BlogOfflineRough, BlogZHBenMoJinHei, serif;
  font-size   : 12px;
  text-align  : right;

  > .i-category-list-item {
    padding-bottom     : 5px;
    cursor             : pointer;
    max-width          : 80px;
    overflow           : hidden;
    text-overflow      : ellipsis;
    -webkit-box-orient : vertical;
    -webkit-line-clamp : 1;

    &:hover {
      text-decoration : underline;
    }
  }
}

.i-key-list {
  padding     : 5px 0;
  display     : flex;
  flex-flow   : row wrap;
  font-size   : 12px;
  font-family : BlogOfflineRough, BlogZHBenMoJinHei, serif;

  > .i-key-list-item {

    margin-right : 5px;
    padding      : 5px;

  }
}

.i-blog-end {
  display         : flex;
  align-items     : center;
  justify-content : center;
  text-align      : center;
  position        : relative;
  height          : 50px;
  line-height     : 50px;
  margin          : 50px 0;
  overflow        : hidden;
  font-size       : 12px;
  font-family     : BlogGameCube, BlogZHBenMoJinHei, serif;
  user-select     : none;

  &:before {
    content      : '';
    background   : #F3F3F3;
    position     : absolute;
    top          : 50%;
    left         : 0;
    right        : 50%;
    margin-right : 250px;
    border-top   : 1px solid #C8C8C8;
    padding      : 1px;
    z-index      : 1;

  }

  &:after {
    content     : '';
    background  : #F3F3F3;
    position    : absolute;
    top         : 50%;
    left        : 50%;
    right       : 0;
    margin-left : 250px;
    border-top  : 1px solid #C8C8C8;
    padding     : 1px;
    z-index     : 1;

  }
}


.text-h-per-100 /deep/ {
  .mat-form-field-wrapper {
    min-height : calc(100% - .5em) !important;
  }

  .mat-form-field-flex {
    min-height : calc(100% - .5em) !important;
  }
}


.text-input-md {
  resize     : none;
  box-shadow : none;
  outline    : none;

  &:active, &:hover {
    border : 2px solid #222;

  }
}

.md-div-input-listen {
  position       : absolute;
  top            : 0;
  left           : 0;
  right          : 0;
  bottom         : 0;

  padding        : 10px;
  background     : #F3F3F3;
  z-index        : 1;
  pointer-events : none;
}


.nv-file-over {
  border : 3px dashed #888;

}
