<div class="flex-row p-b-5 font-size-12">
    <div class="flex-shrink w-50 text-center">
        <div class="i-user-img tappable">
        </div>
    </div>
    <div class="flex-grow">
        <div>
            <a class="p-r-10 tappable">author</a>
            <span>
            <span class="p-r-10">@</span>
            <a class="p-r-10 tappable">guest01</a>
        </span>
            <span class="word-break">
            adsfsafsadfsadfsadfsdafadsfsafsadfsadfsadfsdafadsfsafsadfsadfsadfsdafadsfsafsadfsadfsadfsdafadsfsafsadfsadfsadfsdafadsfsafsadfsadfsadfsdafadsfsafsadfsadfsadfsdafadsfsafsadfsadfsadfsdafadsfsafsadfsadfsadfsdafadsfsafsadfsadfsadfsdafadsfsafsadfsadfsadfsdafadsfsafsadfsadfsadfsdafadsfsafsadfsadfsadfsdaf
        </span>
        </div>
        <div flex-row>

            <div class="flex-row align-items-center m-r-10 tappable">
                <mat-icon>chat</mat-icon>
            </div>
            <div class="flex-row align-items-center m-r-10 tappable">
                <mat-icon>delete</mat-icon>
            </div>
        </div>
    </div>

</div>
