<div class="w-1000 m-auto h-max-per-100 flex-row">
    <div class="flex-shrink w-150">

        <div class="i-label">AUTHOR</div>
        <div class="font-size-12 word-break text-right p-r-20">
            <div class="p-t-10" *ngIf="blogInfo['user_image_id']">
                <img [src]="blogInfo['user_image_id'] | imageUrlById" class="w-max-per-100 h-max-per-100">
            </div>
            <div class="font-bolder font-size-14">{{blogInfo['user_name']}}</div>
            <div class="m-t-10 color-gray">{{blogInfo['user_gender']}}</div>
            <div class="m-t-10 color-gray">{{blogInfo['user_blog_count']}}articles</div>
            <div class="m-t-10 color-gray">{{blogInfo['user_create_date']}}</div>
        </div>
        <div class="i-label">CATEGORY</div>
        <div class="i-category-list">
            <div class="i-category-list-item">{{blogInfo['category_name']}}</div>
        </div>

        <div class="i-label">PART</div>
        <div>
            <div class="flex-row align-items-center m-r-10">
                <mat-icon>visibility</mat-icon>
                <span class="p-h-5 font-old-stamper font-size-18">{{blogInfo['watched']}}</span>
            </div>
        </div>

    </div>


    <div class="flex-grow overflow-y p-h-50 p-b-50  border-h-gray">
        <div class="flex-row justify-content-space-between">
            <div>
                <button type="button" class="font-old-stamper font-size-16 bg-color-gray-light-soft tappable" mat-flat-button (click)="btnGotoEditBlog()" *ngIf="isForCurrentUser">
                    &lt;&lt;&nbsp;Edit&nbsp;&gt;&gt;
                </button>
            </div>

            <div>
                <button type="button" class="font-old-stamper font-size-16 bg-color-gray-light-soft tappable" mat-flat-button (click)="btnGotoPrevPage()">
                    X&nbsp;CLOSE
                </button>
            </div>

        </div>
        <div class="font-offline-rough font-size-24 text-center p-t-5 p-b-20">
            {{blogInfo['title']}}
        </div>

        <div class="word-break hljs">
            <div [innerHTML]="mdContent">
            </div>


        </div>

        <!-- no login -->
        <div class="i-blog-end">

            <span>{{blogInfo['create_date']}}</span>

            <button mat-icon-button class=" tappable" matTooltip="changelog ">
                <mat-icon>history</mat-icon>
            </button>

        </div>

        <!--<div>
            <app-blog-discuss-list></app-blog-discuss-list>
        </div>-->

    </div>


</div>
